html,
body {
  background-color: #161c25;
  color: rgba(255, 255, 255, 0.719);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 180px;
  padding: 0;
  width: 384px;
}

input{
  background-color: rgb(247, 241, 241);
  border-radius: 5px;
  padding-top: 3px;
}


h1 {
  font-family: "Menlo", monospace;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  color: rgba(255, 255, 255, 0.719);
}

img {
  width: 30px;
}

.demo{
    font-weight: bold;
}

.modal-header {
  align-items: center;
  border-bottom: 0.5px solid #dadada;
}

.modal-input {
  padding: 0px 22px;
}
.modal-content {
  padding: 0px 22px;
}

.logo {
  padding: 16px;
}

.logo-icon {
  vertical-align: text-bottom;
  margin-right: 12px;
}

.button{
    color : rgba(255, 255, 255, 0.89);
    background-color : rgb(35, 78, 250);
    border: 5px solid  rgb(35, 78, 250);
    border-radius: 14px;
    padding: 4px 10px;
}
.button:hover{
    background-color: rgb(27, 59, 187);
    border: 5px solid rgb(27, 59, 187);
}
.version {
  color: rgba(255, 255, 255, 0.336);
  font-size: 18px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 22px;
}

.flex {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 120px;
}

.flex:hover {
  opacity: 0.4;
}

.flex .fa {
  font-size: 40px;
  color: #2f5876;
}
