html,
body {
  background-color: rgb(33,33,33);
  color: rgba(255, 255, 255, 0.719);
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  margin: 0;
  min-height: 180px;
  padding: 0;
  width: 300px;
}

input{
  background-color: rgb(190, 186, 186);
  border-radius: 5px;
  padding-top: 3px;
  border-bottom: 2px solid rgb(83,222,203);
}


h1 {
  font-family: "Menlo", monospace;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  color: rgba(255, 255, 255, 0.719);
}

img {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.demo{
    font-size: 12px;
    font-weight: bold;
}

.modal-header {
  background-color: rgb(18,18,18);
  align-items: center;
  border-bottom: 0.5px solid rgb(83,222,203);
}

.modal-input {
  padding: 0px 22px;
}
.modal-content {
  padding: 0px 22px;
}

.logo {
  padding: 5px;
}

.logo-icon {
  vertical-align: text-bottom;
  margin-right: 5px;
}

.button{
    color : rgb(83,222,203);
    background-color : rgb(33,33,33);
    border: 0.5px solid  gray;
    border-radius: 6px;
}
.button:hover{
    color: black;
    background-color: rgb(83,222,203);
    border: 1px solid rgb(83,222,203);
}
.version {
  color: rgba(255, 255, 255, 0.336);
  font-size: 12px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 22px;
}